body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px red ;
}

.logo {
    width: 180px;
    height: 120px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    font-size: 20px;
    width: 800;
    font-weight: bold;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active {
    color: red;
}


#shoppingBag {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* home page */



/* shop page */



/* about page */



/* contact page */